body {
    padding-top: 80px;
    
  }
  
  .show-cart li {
    display: flex;
  }
  /* .card {
    margin-bottom: 20px;
    
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
    
  } */
  
  .card-block {
      border-style: solid;
      border-color: #FF8A5B;  
      
  }

  .display-4{
    text-align: center;
  
  
  }