body {
    background-color: white;
}

#jeanCollage {
    line-height: 0;
    -webkit-column-count: 5px;
    -webkit-column-gap: 0;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}

#popUpCouponCard {
    text-align: center;
}

#modalHeader {
    text-align: center;
}

h6 {
    text-align: center;
}

#emailForm {
    text-align: center;
}